<%= link_to 'Home', root_path %>
<h1>Add Book</h1>

<%= form_with(model: @book, url: books_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Book' %>
  </div>
<% end %>
